@model PowerProducts.Data.Models.ViewModels.Receipts.Details.ReceiptDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color : white" class="text-center">Receipt Details</h1>

<div class="products-holder w-50 mx-auto">
    @foreach (var order in Model.Orders)
    {
        <div class="product d-flex justify-content-between">
            <div class="product-name w-75">
                <h4 style="color : white">@order.ProductName</h4>
            </div>
            <div class="product-quantity-and-price d-flex justify-content-between w-25">
                <h4 style="color : white" class="text-left w-50">x@(order.Quantity)</h4>
                <h4 style="color : white" class="text-right w-50"> asd$@(order.ProductPrice.ToString("F2"))</h4>
            </div>
        </div>
    }
</div>


<div class="finish-order-holder w-50 mx-auto d-flex justify-content-between">
    <div class="form-holder w-25">
        <h3 style="color : white" class="text-left">Total</h3>
    </div>
    <div class="price-holder w-25">
        <h3 style="color : red" class="text-right">$@Model.Orders.Sum(order => order.ProductPrice * order.Quantity).ToString("F2")</h3>
    </div>
</div>

<div class="finish-order-holder w-50 mx-auto d-flex justify-content-between">
    <div class="form-holder w-25">
        <h3 style="color : white" class="text-left">Issued On</h3>
    </div>
    <div class="price-holder w-25">
        <h3 style="color : white" class="text-right">@Model.IssuedOn.ToString("dd/MM/yyyy")</h3>
    </div>
</div>

<div class="finish-order-holder w-50 mx-auto d-flex justify-content-between">
    <div class="form-holder w-25">
        <h3 style="color : white" class="text-left">Recipient</h3>
    </div>
    <div class="price-holder w-25">
        <h3 style="color : white" class="text-right">@Model.Recipient</h3>

        <div class="col-md-1">
            <a asp-controller="Home" asp-action="Index" class="btn btn-success">Ok</a>
        </div>

    </div>

</div>

